:root {
    --blue-dark:#11416b;
    --green:#0fc542;
    --blue-light:#00b5f5;
    --red:#e23b35;
    --yellow:#ffc602;
}

.text-blue-dark {
    color:var(--blue-dark);
}
.text-pl-gray {
    color:#4d4d4d;
}

.bg-plexus {
    background-color: #ffffff;
    background-image: url(../bg-plexus.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-gov {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(../sections/es/gob.jpg);
    background-size: cover;
    background-position: left top;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
}
.bg-solutions {
    background-color: #ffffff;
    background-image: url(../solutions/bg-solutions.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head-border {
    padding-bottom: 2px !important;
    background: #FFF url(../barra_head.png) center bottom no-repeat !important;
}

nav {
    position: -webkit-sticky;
    position: sticky;
}

.navbar li {
    float: left;
    margin-right: 3px;
    color:var(--blue-dark);
    padding:6px;
    cursor:pointer;
    font-weight: 700;
    /* font-style:italic; */
    font-size: 15px;
}
.navbar-phone li {
    margin-right: 3px;
    color:var(--blue-dark);
    cursor:pointer;
    font-weight: 700;
    /* font-style:italic; */
    margin-bottom: 1px solid gray;
    font-size: 13px;
}
.home:hover {
    /* background-color: var(--blue-dark); */
    transform: skew(-14deg);
	background: rgb(17, 65, 107);
    color:#fff;
}
.us:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(15, 197, 66);
}
.service:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(0, 181, 245);
}
.solutions:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(226, 59, 53);
}
.industries:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(255, 198, 2);
}
.customer:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(17, 65, 107);
}
.contact:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(15, 197, 66);
}

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: #082b53;
}

.svg-white {
    filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(118deg) brightness(99%) contrast(97%);
}
.svg-blue {
    filter: invert(12%) sepia(48%) saturate(3917%) hue-rotate(211deg) brightness(92%) contrast(106%);
}
.svg-gray {
    filter: invert(24%) sepia(5%) saturate(282%) hue-rotate(314deg) brightness(96%) contrast(74%);
}
.svg-gray-2 {
    filter: invert(82%) sepia(2%) saturate(5%) hue-rotate(332deg) brightness(94%) contrast(92%);
}

.etapas-border {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 0px;
    margin-top: -20px;
}
.operation-border {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 0px;
    margin-top: -5px;
}
.strategic-border {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 0px;
    margin-top: -5px;
}
.table-services tr td {
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 20px;
}
.table-services2 {
    border: 1px solid#dcdcdc;
    background-color: #fff;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.table-services2 tr td {
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding: 10px 20px;
}