:root {
    --blue-dark:#11416b;
    --green:#0fc542;
    --blue-light:#00b5f5;
    --red:#e23b35;
    --yellow:#ffc602;
}

.text-blue-dark {
    color:var(--blue-dark);
}
.text-pl-gray {
    color:#4d4d4d;
}

.bg-plexus {
    background-color: #ffffff;
    background-image: url(../bg-plexus.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-solutions {
    background-color: #ffffff;
    background-image: url(../solutions/bg-solutions.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head-border {
    padding-bottom: 2px !important;
    background: #FFF url(../barra_head.png) center bottom no-repeat !important;
}

nav {
    position: -webkit-sticky;
    position: sticky;
}

.navbar li {
    float: left;
    margin-right: 3px;
    color:var(--blue-dark);
    padding:6px;
    cursor:pointer;
    font-weight: 700;
    /* font-style:italic; */
    font-size: 15px;
}
.home:hover {
    /* background-color: var(--blue-dark); */
    transform: skew(-14deg);
	background: rgb(17, 65, 107);
    color:#fff;
}
.us:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(15, 197, 66);
}
.service:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(0, 181, 245);
}
.solutions:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(226, 59, 53);
}
.industries:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(255, 198, 2);
}
.customer:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(17, 65, 107);
}
.contact:hover {
    color:#fff;
    transform: skew(-14deg);
	background: rgb(15, 197, 66);
}

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: #082b53;
}

.svg-white {
    filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(118deg) brightness(99%) contrast(97%);
}